<h2>Employee List</h2>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email ID</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Salary</th>
            <th>Work Experience</th>
            <th>Joining Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    
    <tr *ngFor="let employee of employees;">
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.emailId}}</td>
        <td>{{employee.phNo}}</td>
        <td>{{employee.role}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.workExperience}}</td>
        <td>{{employee.joiningDate}}</td>
        <td><tr><button (click)="updateEmployee(employee.id)">Update</button></tr><tr><button (click)="deletingEmployee(employee.id)">Delete</button></tr></td>
    </tr>
</table>

<!--
<div *ngIf="employees.length>0;else elseBlock">
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email ID</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Salary</th>
                <th>Work Experience</th>
                <th>Joining Date</th>
            </tr>
        </thead>
        
        <tr *ngFor="let employee of employees;">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.phNo}}</td>
            <td>{{employee.role}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.workExperience}}</td>
            <td>{{employee.joiningDate}}</td>
        </tr>
    </table>

</div>

<ng-template #elseBlock>No Current Employees</ng-template>
-->